
/*----------------------------*/
/*COMMOM*/
.clear{clear:both !important; float:none !important; margin:0px !important; padding:0px !important; height:0px !important; width:0px !important}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

img { display:block;}

.center{width:1000px; margin:0 auto; text-align:left;}
.inner-center{ padding: 0 10px;}
body { background-color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:15px; line-height:18px; color:#333333; font-weight: 400;}

.text{ text-align:center; padding-top:100px; }

/*HEADER*/
.header
{ position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  z-index: 5000;
background-color: #15af97;
}

.header .inner-center
{ 
  position: relative;
}
.header .menu-principal
{ 
  background-color: #15af97; height: 70px;
}
.header .menu-principal ul
{ 
  float:right;
}
.header .menu-principal ul li
{ 
  position: relative;
}
.header .logo-header
{ 
  position: absolute; 
  top:0; 
  left: 0; 
  margin-left: 56px;
}

.header .menu-principal li
{ 
  float: left;
}
.header .menu-principal li a
{ 
  position: relative; 
  display: table; 
  text-align: center;
}
.header .menu-principal li a span
{ 
  color: #ffffff; 
  font-size: 12px; 
  line-height: 14px; 
  text-align: center; 
  display: block;
}
.header .menu-principal li a > div
{ 
  display: table-cell; 
  height: 70px; 
  vertical-align: middle;
}
.header .menu-principal a
{ 
  display: block; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; 
  text-transform: uppercase; 
  text-decoration: none;
}
.header .menu-principal .separador
{ 
  display: table; 
  margin: 0 12px;
}
.header .menu-principal .separador > div
{ 
  display: table-cell; 
  vertical-align: middle; 
  height: 70px;
}
.header .menu-principal .separador hr{ 
  border: none; 
  background-color: #ffffff; 
  width: 5px; 
  height: 1px; 
  display: block;
}
.header .logo-header a
{ 
  display: block; 
  margin-top:25px; 
  font-size:25px; 
  color:#ffffff;
}
/*END HEADER*/
/*-------------*/
/*MOBILE MENU*/
.menu-mobile
{ 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 6000; 
  display: none;
}
.menu-mobile .wrapper
{ 
  background-color: #15af97;
  height: 70px;
  
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

.menu-mobile #bt-menu-mobile 
{ 
  border: none; 
  background: none; 
  width: 40px; 
  float: right; 
  margin: 20px 20px 0 0; 
  position: relative; 
  height: 30px;
  cursor:pointer;
}
.menu-mobile #bt-menu-mobile span
{  
  background-color: #ffffff;
  display: block; 
  height: 5px; 
  position: absolute; 
  width: 100%;
}
.menu-mobile #bt-menu-mobile span.top
{ 
  top: 0;
}
.menu-mobile #bt-menu-mobile span.middle
{ 
  top: 50%; 
  margin-top: -2px;
}
.menu-mobile #bt-menu-mobile span.bottom
{ 
  top:100%; 
  margin-top: -2px;
}

#wrapper-menu-mobile
{ 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 100%;
  background:rgba(0,0,0,.8);
}
#wrapper-menu-mobile .wrapper
{ 
  position: absolute; 
  height: 100%; 
  width: 70%; 
  background-color: #15af97;
  right: -100%; 
  z-index: 10;
}
.menu-mobile .wrapper > a
{
  font-size:20px;
  padding:28px 0 0 30px;
  float:left;
  color:#ffffff;
  text-decoration:none;
}
#wrapper-menu-mobile ul
{ 
  padding: 0 20px;
  position:relative;
  height:100%;
  overflow-y:scroll;
}
#wrapper-menu-mobile ul li
{ 
  padding: 10px 0; 
  border-top: 1px solid #129c86;
}
#wrapper-menu-mobile ul li.first
{ 
  border: none;
}
#wrapper-menu-mobile ul li a
{ 
  margin-left: 10px; 
  display: block; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  text-transform: uppercase; 
  text-decoration: none;
  color:#ffffff;
}
#wrapper-menu-mobile ul li button
{ 
  background: none; 
  border: none; 
  float: right;
}
#wrapper-menu-mobile ul li span
{ 
  float: left; 
  margin: 5px 0 0 10px; 
  display: block; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-mobile .block-menu-mobile
{ 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: transparent;
}

#wrapper-menu-mobile #bt-fechar-menu{ color:#ffffff; cursor:pointer;}

/*END MOBILE MENU*/
/*---------------*/





/*------------------------------*/
/*MEDIA QUERIES*/
/*------------------------------*/


/*------------------------------*/
/*------------------------------*/
/*RESPONSIVE.CSS*/
/*------------------------------*/
/*------------------------------*/
.clear{clear:both !important; float:none !important; margin:0px !important; padding:0px !important; height:0px !important; width:0px !important}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

.img-responsive{max-width:100%;height:auto;}

.resp-box{ float:left; width: 100%;}

.col-1
{ width:100%;}

.col-2,
.col-1-2,
.col-5-10,
.col-4-8,
.col-3-6,
.col-2-4
{ width:50%;}

.col-3,
.col-1-3,
.col-3-9,
.col-2-6
{ width:33.3333%;}

.col-4,
.col-1-4,
.col-2-8
{ width:25%;}

.col-5,
.col-1-5,
.col-2-10
{ width:20%;}

.col-6,
.col-1-6
{ width:16.6666%;}

.col-7,
.col-1-7
{ width:14.2857%;}

.col-8,
.col-1-8
{ width:12.5%;}

.col-9,
.col-1-9
{ width:11.1111%;}

.col-10,
.col-1-10
{ width:10%;}

.col-2-3{ width:66.6666%;}

.col-2-5{ width:40%;}

.col-2-7{ width:28.5714%;}

.col-2-9{ width:22.2222%;}

.col-3-4{ width:75%;}
.col-3-5{ width:60%;}

.col-3-7{ width:42.8571%;}
.col-3-8{ width:37.5%;}

.col-3-10{ width:30%;}

.col-4-5{ width:80%;}
.col-4-6{ width:66.6666%;}
.col-4-7{ width:57.1428%;}

.col-4-9{ width:44.4444%;}
.col-4-10{ width:40%;}

.col-5-6{ width:83.3333%;}
.col-5-7{ width:71.4285%;}
.col-5-8{ width:62.5%;}
.col-5-9{ width:55.5555%;}

.col-6-7{ width:82.7142%;}
.col-6-8{ width:75%;}
.col-6-9{ width:66.6666%;}
.col-6-10{ width:60%;}

.col-7-8{ width:87.5%;}
.col-7-9{ width:77.7777%;}
.col-7-10{ width:70%;}

.col-8-9{ width:88.8888%;}
.col-8-10{ width:80%;}

.col-9-10{ width:90%;}

/*--------------	Media queries	------------------*/
/*
	* < 568px
*/
@media screen and (max-width: 35.5em) {
.col-xs-1
{ width:100% !important;}

.col-xs-hide{ display:none !important;}
.col-xs-show{ display:block !important;}

.col-xs-2,
.col-xs-1-2,
.col-xs-5-10,
.col-xs-4-8,
.col-xs-3-6,
.col-xs-2-4
{ width:50%;}

.col-xs-3,
.col-xs-1-3,
.col-xs-3-9,
.col-xs-2-6
{ width:33.3333%;}

.col-xs-4,
.col-xs-1-4,
.col-xs-2-8
{ width:25%;}

.col-xs-5,
.col-xs-1-5,
.col-xs-2-10
{ width:20%;}

.col-xs-6,
.col-xs-1-6
{ width:16.6666%;}

.col-xs-7,
.col-xs-1-7
{ width:14.2857%;}

.col-xs-8,
.col-xs-1-8
{ width:12.5%;}

.col-xs-9,
.col-xs-1-9
{ width:11.1111%;}

.col-xs-10,
.col-xs-1-10
{ width:10%;}

.col-xs-2-3{ width:66.6666%;}

.col-xs-2-5{ width:40%;}

.col-xs-2-7{ width:28.5714%;}

.col-xs-2-9{ width:22.2222%;}

.col-xs-3-4{ width:75%;}
.col-xs-3-5{ width:60%;}

.col-xs-3-7{ width:42.8571%;}
.col-xs-3-8{ width:37.5%;}

.col-xs-3-10{ width:30%;}

.col-xs-4-5{ width:80%;}
.col-xs-4-6{ width:66.6666%;}
.col-xs-4-7{ width:57.1428%;}

.col-xs-4-9{ width:44.4444%;}
.col-xs-4-10{ width:40%;}

.col-xs-5-6{ width:83.3333%;}
.col-xs-5-7{ width:71.4285%;}
.col-xs-5-8{ width:62.5%;}
.col-xs-5-9{ width:55.5555%;}

.col-xs-6-7{ width:82.7142%;}
.col-xs-6-8{ width:75%;}
.col-xs-6-9{ width:66.6666%;}
.col-xs-6-10{ width:60%;}

.col-xs-7-8{ width:87.5%;}
.col-xs-7-9{ width:77.7777%;}
.col-xs-7-10{ width:70%;}

.col-xs-8-9{ width:88.8888%;}
.col-xs-8-10{ width:80%;}

.col-xs-9-10{ width:90%;}
}

/*
	* > 568px e < 768
*/
@media (min-width: 35.5em) and (max-width: 48em) {
.col-sm-1
{ width:100% !important;}

.col-sm-hide{ display:none !important;}
.col-sm-show{ display:block !important;}

.col-sm-2,
.col-sm-1-2,
.col-sm-5-10,
.col-sm-4-8,
.col-sm-3-6,
.col-sm-2-4
{ width:50%;}

.col-sm-3,
.col-sm-1-3,
.col-sm-3-9,
.col-sm-2-6
{ width:33.3333%;}

.col-sm-4,
.col-sm-1-4,
.col-sm-2-8
{ width:25%;}

.col-sm-5,
.col-sm-1-5,
.col-sm-2-10
{ width:20%;}

.col-sm-6,
.col-sm-1-6
{ width:16.6666%;}

.col-sm-7,
.col-sm-1-7
{ width:14.2857%;}

.col-sm-8,
.col-sm-1-8
{ width:12.5%;}

.col-sm-9,
.col-sm-1-9
{ width:11.1111%;}

.col-sm-10,
.col-sm-1-10
{ width:10%;}

.col-sm-2-3{ width:66.6666%;}

.col-sm-2-5{ width:40%;}

.col-sm-2-7{ width:28.5714%;}

.col-sm-2-9{ width:22.2222%;}

.col-sm-3-4{ width:75%;}
.col-sm-3-5{ width:60%;}

.col-sm-3-7{ width:42.8571%;}
.col-sm-3-8{ width:37.5%;}

.col-sm-3-10{ width:30%;}

.col-sm-4-5{ width:80%;}
.col-sm-4-6{ width:66.6666%;}
.col-sm-4-7{ width:57.1428%;}

.col-sm-4-9{ width:44.4444%;}
.col-sm-4-10{ width:40%;}

.col-sm-5-6{ width:83.3333%;}
.col-sm-5-7{ width:71.4285%;}
.col-sm-5-8{ width:62.5%;}
.col-sm-5-9{ width:55.5555%;}

.col-sm-6-7{ width:82.7142%;}
.col-sm-6-8{ width:75%;}
.col-sm-6-9{ width:66.6666%;}
.col-sm-6-10{ width:60%;}

.col-sm-7-8{ width:87.5%;}
.col-sm-7-9{ width:77.7777%;}
.col-sm-7-10{ width:70%;}

.col-sm-8-9{ width:88.8888%;}
.col-sm-8-10{ width:80%;}

.col-sm-9-10{ width:90%;}
}

/*
	* > 768px e < 1024px
*/
@media (min-width: 48em) and (max-width: 64em) {
.col-md-1
{ width:100% !important;}

.col-md-hide{ display:none !important;}
.col-md-show{ display:block !important;}

.col-md-2,
.col-md-1-2,
.col-md-5-10,
.col-md-4-8,
.col-md-3-6,
.col-md-2-4
{ width:50%;}

.col-md-3,
.col-md-1-3,
.col-md-3-9,
.col-md-2-6
{ width:33.3333%;}

.col-md-4,
.col-md-1-4,
.col-md-2-8
{ width:25%;}

.col-md-5,
.col-md-1-5,
.col-md-2-10
{ width:20%;}

.col-md-6,
.col-md-1-6
{ width:16.6666%;}

.col-md-7,
.col-md-1-7
{ width:14.2857%;}

.col-md-8,
.col-md-1-8
{ width:12.5%;}

.col-md-9,
.col-md-1-9
{ width:11.1111%;}

.col-md-10,
.col-md-1-10
{ width:10%;}

.col-md-2-3{ width:66.6666%;}

.col-md-2-5{ width:40%;}

.col-md-2-7{ width:28.5714%;}

.col-md-2-9{ width:22.2222%;}

.col-md-3-4{ width:75%;}
.col-md-3-5{ width:60%;}

.col-md-3-7{ width:42.8571%;}
.col-md-3-8{ width:37.5%;}

.col-md-3-10{ width:30%;}

.col-md-4-5{ width:80%;}
.col-md-4-6{ width:66.6666%;}
.col-md-4-7{ width:57.1428%;}

.col-md-4-9{ width:44.4444%;}
.col-md-4-10{ width:40%;}

.col-md-5-6{ width:83.3333%;}
.col-md-5-7{ width:71.4285%;}
.col-md-5-8{ width:62.5%;}
.col-md-5-9{ width:55.5555%;}

.col-md-6-7{ width:82.7142%;}
.col-md-6-8{ width:75%;}
.col-md-6-9{ width:66.6666%;}
.col-md-6-10{ width:60%;}

.col-md-7-8{ width:87.5%;}
.col-md-7-9{ width:77.7777%;}
.col-md-7-10{ width:70%;}

.col-md-8-9{ width:88.8888%;}
.col-md-8-10{ width:80%;}

.col-md-9-10{ width:90%;}
}

/*
	* 1024px e 1280px
*/

@media (min-width: 64em) and (max-width: 80em) {
.col-lg-1
{ width:100% !important;}

.col-lg-hide{ display:none !important;}
.col-lg-show{ display:block !important;}

.col-lg-2,
.col-lg-1-2,
.col-lg-5-10,
.col-lg-4-8,
.col-lg-3-6,
.col-lg-2-4
{ width:50%;}

.col-lg-3,
.col-lg-1-3,
.col-lg-3-9,
.col-lg-2-6
{ width:33.3333%;}

.col-lg-4,
.col-lg-1-4,
.col-lg-2-8
{ width:25%;}

.col-lg-5,
.col-lg-1-5,
.col-lg-2-10
{ width:20%;}

.col-lg-6,
.col-lg-1-6
{ width:16.6666%;}

.col-lg-7,
.col-lg-1-7
{ width:14.2857%;}

.col-lg-8,
.col-lg-1-8
{ width:12.5%;}

.col-lg-9,
.col-lg-1-9
{ width:11.1111%;}

.col-lg-10,
.col-lg-1-10
{ width:10%;}

.col-lg-2-3{ width:66.6666%;}

.col-lg-2-5{ width:40%;}

.col-lg-2-7{ width:28.5714%;}

.col-lg-2-9{ width:22.2222%;}

.col-lg-3-4{ width:75%;}
.col-lg-3-5{ width:60%;}

.col-lg-3-7{ width:42.8571%;}
.col-lg-3-8{ width:37.5%;}

.col-lg-3-10{ width:30%;}

.col-lg-4-5{ width:80%;}
.col-lg-4-6{ width:66.6666%;}
.col-lg-4-7{ width:57.1428%;}

.col-lg-4-9{ width:44.4444%;}
.col-lg-4-10{ width:40%;}

.col-lg-5-6{ width:83.3333%;}
.col-lg-5-7{ width:71.4285%;}
.col-lg-5-8{ width:62.5%;}
.col-lg-5-9{ width:55.5555%;}

.col-lg-6-7{ width:82.7142%;}
.col-lg-6-8{ width:75%;}
.col-lg-6-9{ width:66.6666%;}
.col-lg-6-10{ width:60%;}

.col-lg-7-8{ width:87.5%;}
.col-lg-7-9{ width:77.7777%;}
.col-lg-7-10{ width:70%;}

.col-lg-8-9{ width:88.8888%;}
.col-lg-8-10{ width:80%;}

.col-lg-9-10{ width:90%;}
}

/*
	* ≥ 1280px
*/
@media (min-width: 80em){
.col-xl-1
{ width:100% !important;}

.col-xl-hide{ display:none !important;}
.col-xl-show{ display:block !important;}

.col-xl-2,
.col-xl-1-2,
.col-xl-5-10,
.col-xl-4-8,
.col-xl-3-6,
.col-xl-2-4
{ width:50%;}

.col-xl-3,
.col-xl-1-3,
.col-xl-3-9,
.col-xl-2-6
{ width:33.3333%;}

.col-xl-4,
.col-xl-1-4,
.col-xl-2-8
{ width:25%;}

.col-xl-5,
.col-xl-1-5,
.col-xl-2-10
{ width:20%;}

.col-xl-6,
.col-xl-1-6
{ width:16.6666%;}

.col-xl-7,
.col-xl-1-7
{ width:14.2857%;}

.col-xl-8,
.col-xl-1-8
{ width:12.5%;}

.col-xl-9,
.col-xl-1-9
{ width:11.1111%;}

.col-xl-10,
.col-xl-1-10
{ width:10%;}

.col-xl-2-3{ width:66.6666%;}

.col-xl-2-5{ width:40%;}

.col-xl-2-7{ width:28.5714%;}

.col-xl-2-9{ width:22.2222%;}

.col-xl-3-4{ width:75%;}
.col-xl-3-5{ width:60%;}

.col-xl-3-7{ width:42.8571%;}
.col-xl-3-8{ width:37.5%;}

.col-xl-3-10{ width:30%;}

.col-xl-4-5{ width:80%;}
.col-xl-4-6{ width:66.6666%;}
.col-xl-4-7{ width:57.1428%;}

.col-xl-4-9{ width:44.4444%;}
.col-xl-4-10{ width:40%;}

.col-xl-5-6{ width:83.3333%;}
.col-xl-5-7{ width:71.4285%;}
.col-xl-5-8{ width:62.5%;}
.col-xl-5-9{ width:55.5555%;}

.col-xl-6-7{ width:82.7142%;}
.col-xl-6-8{ width:75%;}
.col-xl-6-9{ width:66.6666%;}
.col-xl-6-10{ width:60%;}

.col-xl-7-8{ width:87.5%;}
.col-xl-7-9{ width:77.7777%;}
.col-xl-7-10{ width:70%;}

.col-xl-8-9{ width:88.8888%;}
.col-xl-8-10{ width:80%;}

.col-xl-9-10{ width:90%;}
}
/*------------------------------*/
/*------------------------------*/
/*END RESPONSIVE.CSS*/
/*------------------------------*/
/*------------------------------*/


